// Colors
$clr1: #2e3bce;
$clr2: #6d08da;
$clr3: rgb(44, 139, 208);
$clr4: #f1f1f1;
$clr5: rgba(216, 216, 216, 0.69);
$clr6: #fff;
$clr7: #3c3b3be5;
$clr8: #767474ee;

//hovers 
$hover-clr: rgb(38, 126, 189);

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;